* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-image: url(./Fourteen.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
button {
    padding: 15px 50px;
    font-weight: bold;
    font-size: 30px;
    background-color: #1536a3;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s, background-color 0.3s;
}
button:hover {
    background-color: #45a049;
    transform: scale(1.5);
}
button:active {
    transform: scale(1.05);
}